.home{
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 30px;
}
.sidebar {
    margin-left: 20px;
    position: fixed;
    height: 100%;
}
.main_content {
    width: auto;
    margin-left: 300px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav{
    display: none;
}


@media screen and ( width < 1300px) {
    .sidebar {
        display: none;
    }
    .main_content {
        margin: 0 20px;
    }
    .home {
        flex-direction:column;
        margin-top: 0px;
        gap: 20px;
    }
    .nav {
        display: flex;
    }
}