.home{
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 30px;
}
.home > div:first-child {
    margin-left: 20px;
    position: fixed;
    height: 100vh;
}
.main_content {
    width: 100%;
    margin-left: 300px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


@media screen and ( width < 1300px) {
    .home > div:first-child {
        display: none;
    }
    .main_content {
        margin: 0 20px;
    }
}