
.content_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    padding: 5px;
    margin: auto;
    border-radius: 30px;
    border: 3px solid var(--secondary);
    cursor: pointer;
}

.google_icon_wrapper {
    width: 100%;
    max-width: 30px;
    min-width: 20px;
}

.google_icon {
    width: 100%;

}

.btn_text {
    width: auto;
    text-align: start;
    padding-left: 10px;
    margin: 0;
}

.content_wrapper:hover {
    background-color: var(--secondary);
    box-shadow: 0 0 1px;
}

.log_in_btn {
    text-align: center;
    border: 3px solid var(--secondary);
    padding-top: 12.4px;
    padding-bottom: 12.4px;
    max-width: 200px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 30px;
    cursor: pointer;
}

.log_in_btn:hover {
    background-color: var(--secondary);
    box-shadow: 0 0 1px;
}
