.topnav {
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 70px;
}

.brand_logo {
    height: auto;
    padding-top: 2px;
    padding-bottom: 2px;
    max-width: 200px;
    width: 70%;
    min-width: 100px;
}

.signBtn {
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

.signBtn:hover {
    background-color: var(--secondary);
}

.leftSide {
    display: flex;
    align-items: center;
    gap: 15px;
}

.moreBtn {
    font-size: 26px;
}

.sidebar{
    left: -20px;
    width: auto !important;
    top: -22px !important;
    transform: translateX(-220px) !important;
    transition: all 300ms ease-in-out !important;
}

#sidebarDropdown:checked+label~.sidebar {
    transform: translateX(0px) !important;
}

.notification {
    display: none !important;
}

@media screen and (width < 990px) {
    .notification {
        display: flex !important;
    }
}

@media screen and (width < 770px) {
    .brand_logo {
        display: none;
    }
    .notification {
        max-width: 150px !important;
    }
}