.sidebar_container {
    background-color: var(--primary);
    padding: 20px;
    max-width: 260px;
    height: 100dvh;
    height: 100vh;
    border-radius: 15px;
}

.sidebar_container > ul:first-child{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.sidebar_scroll {
    width: 100%;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

.sidebar_scroll::-webkit-scrollbar {
    width: 3px;
    border-radius: 3px;
}

.sidebar_scroll>li {
    margin-bottom: 10px;
}

.sidebar_container>ul>li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.sidebar_scroll:hover {

    &::-webkit-scrollbar-thumb {
        background: #888;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
}

.links {
    max-width: 220px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.links>svg {
    font-size: 25px;
    margin-right: 10px;
    transition: all 1s ease-in-out;
}

.links:hover>svg {
    transform: rotateZ(180deg);
}

.links:hover {
    color: black;
}

.logo {
    width: 100%;
    padding: 10px;
    padding-bottom: 15px;
}

.sidebar_container > ul > li > .logo {
    border-bottom: 3px solid var(--secondary);
}

.upgradeBtn {
   display: flex;
   justify-content: center;
}

.upgradeBtn > span {
    padding: 10px;
    margin-top: 5px;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}


@media screen and (width <= 450px) {
    .sidebar_container {
        height: 100dvh;
        height: 94vh;
    }
}