@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');


:root {
  --primary: #fff;
  --secondary: #f3f6fd;
}

body {
  background-color: var(--secondary);
  margin: 0px;
  padding: 0px;
  margin-top: 2px;
  font-size: 16px;
  font-style: normal;
  font-family: "Roboto", "sans-serif";
  color: #768492;
  box-sizing: border-box;
}